.recommend-first-box {
  margin-top: 20px;
  border: 5px solid #FFF08B;
}
.recommend-info {
  display: inline-block;
  width: 300px;
}
.recommend-users {
  display: flex;
  justify-content: space-around;
}
.user-image {
  width: 100px;
  height: 100px;
}
.user-info {
  display: inline-block;
}
.champion-img {
  width: 30px;
  height: 30px;
}
.champion-info {
  display: inline-block;
}
.middle-input {
  width: 400px;
  height: 25px;
  border-radius: 90px;
  outline: none;
}
.input-position {
  text-align: left;
  padding: 20px;
}