#recommend {
  display: flex;
  justify-content: center;
  color: black;
}
#recommend > .recommend-first-box {
  margin-top: 20px;
  width: 1000px;

}
#recommend .recommend-users {
  display: flex;
  justify-content: space-around;
}
#recommend .recommend-info {
  display: inline-block;
  width: 320px;
  height: 200px;
  background-color: #FFF08B;
  border-radius: 30px;
}
#recommend .top-box {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
#recommend .bottom-box {
  margin-top: 20px;
}
#recommend .user-image {
  width: 100px;
  height: 100px;
}
#recommend .user-info {
  display: inline-block;
  margin-top: 15px;
}
#recommend .champion-img {
  width: 30px;
  height: 30px;
}
#recommend .champion-info {
  display: inline-flex;
}
#recommend .champion-name {
  line-height: 30px;
  padding: 0px 8px 0px 2px;
}

