#synergy-search .input-position {
  margin-top: 30px;
  margin-left: 10px;
  text-align: left;
  background-color: white;
  width: 400px;
  height: 30px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  }
#synergy-search .middle-input {
  width: 350px;
  height: 30px;
  outline: none;
  background-color: transparent;
  border: none;
}
#synergy-info {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#synergy-info .synergy-box {
  background-color: pink;
  width: 1000px;
  height: 300px;
  border-radius: 50px;
}