body {
  background-color: #202947;
  color: white;
  padding: 0px 50px;
  height: 100%;
}
/* #main .main-box {
  margin: 3% auto 0%;
} */

@media screen and (max-height: 800px){
  #main .main-box {
    margin: 30px auto;
  }
  #main-matching .matching-box {
    margin-top: 50px;
    border-radius: 90px;
    width: 700px;
    height: 400px;
    background-color: #FFF08B;
    position: relative;
    border: 8px solid #5667A0;
  }
  #main-matching .matching-btn {
    display: block;
    position: absolute;
    top: 75%;
    left: 43.573%;
    background-color: #b0bce9;
    border: none;
    width: 90px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
  }
  #main-search .input-box {
    display: flex;
    justify-content: center;
    width: 700px;
    height: 35px;
    border-radius: 90px;
    background-color: white;
  }
  #main-search .large-input {
    width: 620px;
    height: 35px;
    border: none;
    outline: none;
    background-color: transparent;
  }
}
@media screen and (min-height: 800px){
  #main .main-box {
    margin: 100px auto;
  }
  #main-matching .matching-box {
    margin-top: 80px;
    border-radius: 90px;
    width: 850px;
    height: 450px;
    background-color: #FFF08B;
    position: relative;
    border: 8px solid #5667A0;
  }
  #main-matching .matching-btn {
    display: block;
    position: absolute;
    top: 75%;
    left: 44.706%;
    background-color: #b0bce9;
    border: none;
    width: 90px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
  }
  #main-search .input-box {
    display: flex;
    justify-content: center;
    width: 850px;
    height: 35px;
    border-radius: 90px;
    background-color: white;
  }
  #main-search .large-input {
    width: 780px;
    height: 35px;
    border: none;
    outline: none;
    background-color: transparent;
  }
}
#main .main-font {
  text-align: center;
  font-size: 42px;
}
#main .text-left {
  text-align: right;
}
#main .nav-padding {
  padding-top: 30px;
}
#main-search {
  display: flex;
  justify-content: center;
}

#main-matching .center {
  display: flex;
  justify-content: center;
}

#main-matching .center-group {
  display: flex;
  justify-content: center;
}
#main-matching .select-box {
  display: inline-block;
  color: black;
  margin-top: 100px;
}
#main-matching .line-image {
  display: block;
  width: 130px;
  height: 130px;
  background-color: #202947;
}
#main-matching .drop-down {
  margin-top: 10px;
  width: 130px;
  height: 20px;
  border-radius: 5px;
  text-decoration: none;
}


#main-matching .timer {
  display: inline-block;
  color: black;
  width: 130px;
  margin-top: 180px;
  text-align: center;
}

#main .log-out {
  cursor: pointer;
}