body {
  background-color: #202947;
  color: white;
  padding: 0px 50px;
}
#main > .main-font {
  text-align: center;
  font-size: 42px;
}
#main > .text-left {
  text-align: right;
}
#main > .nav-padding {
  padding-top: 30px;
}
#main-search > .center {
  display: flex;
  justify-content: center;
}
#main-search > .center {
  display: flex;
  justify-content: center;
}
#main-search > .center .large-input {
  width: 800px;
  height: 35px;
  border-radius: 90px;
  outline: none;
}
#main-matching > .center {
  display: flex;
  justify-content: center;
}
#main-matching > .center .matching-box {
  margin-top: 50px;
  border-radius: 90px;
  width: 700px;
  height: 400px;
  background-color: #FFF08B;
  position: relative;
  border: 8px solid #5667A0;
}
#main-matching > .center .matching-box .center-group {
  display: flex;
  justify-content: center;
}
#main-matching > .center .matching-box .center-group .select-box {
  display: inline-block;
  color: black;
  margin-top: 100px;
}
#main-matching > .center .matching-box .center-group .select-box .line-image {
  display: block;
  width: 130px;
  height: 130px;
  background-color: #202947;
}
#main-matching > .center .matching-box .center-group .select-box .drop-down {
  margin-top: 10px;
  width: 130px;
}
#main-matching > .center .matching-box .matching-btn {
  display: block;
  position: absolute;
  top: 75%;
  left: 47%;
}
#main-matching > .center .matching-box .center-group .timer {
  display: inline-block;
  color: black;
  width: 130px;
  margin-top: 180px;
  text-align: center;
}