#season-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 1000px;
  margin: 10px auto;
  background-color: rgb(218, 218, 240);
  border-radius: 50px;
}


#season-info .user-table {
  display: table;
  height: 200px;
  width: 560px;
}

#season-info .user-table-info {
  display: table-cell;
  vertical-align: middle;
  width: 100px;
  color: black;
}


#season-info .user-season-info {
  height: 250px;
  width: 400px;
}

#season-info .champion-table {
  display: table;
  height: 50px;
  width: 400px;
}

#season-info .champion-info {
  display: table-cell;
  vertical-align: middle;
  color: black;
}

#season-info .champion-icon {
  height: 50px;
  width: 50px;
  border-radius: 30px;
}

