#sidebar {
  display: inline;
  width: 300px;
  height: 700px;
  }
#sidebar .fixed {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: gray;
  width: 300px;
  height: 660px;
  right: 5rem;
  margin-top: 10px;
}
#sidebar .user-img {
  display: inline-block;
  width: 40px;
  height: 40px;
}
#sidebar .user-info {
  display: inline-block;
  vertical-align: middle;
}
#sidebar .margin-0 {
  margin: 0px;
}
#sidebar .user-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkkhaki;
  height: 50px;
  margin: 10px 15px;
  width: 240px;
}
#sidebar .fixed .select-box {
  margin: 10px 0px;
}

#sidebar .fixed .select-box .drop-down {
  margin-top: 10px;
  width: 130px;
  height: 20px;
  border-radius: 5px;
  text-decoration: none;
}
#sidebar .fixed .success-user {
  position: absolute;
  top: 40%;
  height: 380px;
  /* overflow-y: scroll; */
}
#sidebar .fixed .matching-btn {
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin-top: 10px;
}
#sidebar .padding-left-30 {
  padding-left: 30px;
}
#sidebar .fixed .success-user-scroll {
  position: absolute;
  top: 40%;
  height: 380px;
  overflow-y: scroll;
}
#sidebar .modal {
  color: white;
  position: absolute;
  width: 300px;
  background-color: #9badeb;
  border-radius: 20px;
}
#sidebar .star-color-yellow {
  color: yellow;
}
#sidebar .star-color-gray {
  color: rgb(104, 101, 101);
}
#sidebar .close {
  color: white;
  position: absolute;
  right: 10%;
  background-color: #5d7be7;
  border: none;
  border-radius: 2px;
  height: 20px;
}
#sidebar .submit-btn {
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #5d7be7;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 50px;
}