#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

#navbar .log-out {
  display: inline;
  cursor: pointer;
}

#navbar .logo {
  display: inline;
  cursor: pointer;
}

#navbar .m-30 {
  padding: 30px;
}

#navbar .mw-10 {
  margin-left: 10px;
  margin-right: 10px;
}

#navbar .m-30 .input-search {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 26px;
  background-color: white;
  border-radius: 10px;
}
#navbar .m-30 .input-search .small-input {
  border: none;
  outline: none;
  width: 180px;
  height: 26px;
  background-color: transparent;
  padding: 0px;
}